
name: Django CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    # Добавляем сервисный контейнер с PostgreSQL для тестов
    services:
      postgres:
        image: postgres:13-alpine
        # Проверка состояния, чтобы убедиться, что PostgreSQL готов принимать подключения
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.9'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      # Устанавливаем переменные окружения для шага запуска тестов.
      # Django будет использовать их для подключения к сервисному контейнеру PostgreSQL.
      env:
        # Секретный ключ для тестов (не должен быть настоящим)
        SECRET_KEY: 'a-dummy-secret-key-for-ci'
        DEBUG: 'False'
        
        # Данные для подключения к тестовой БД
        PGDATABASE: test_db
        PGUSER: test_user
        PGPASSWORD: test_password
        PGHOST: postgres # Имя хоста - это имя сервиса, определенное выше
        PGPORT: 5432
      run: python manage.py test
